<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753463338762-glr4sci3atcfr827f2pslmqqsd36pevc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753463338762-glr4sci3atcfr827f2pslmqqsd36pevc</string>
	<key>API_KEY</key>
	<string>AIzaSyAfreL3f4UiXpvItb7U-tQhThSJn5OYoMY</string>
	<key>GCM_SENDER_ID</key>
	<string>753463338762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pbalsamo.TheLightUI</string>
	<key>PROJECT_ID</key>
	<string>thelightui</string>
	<key>STORAGE_BUCKET</key>
	<string>thelightui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753463338762:ios:17b3f993a6f6445ce4fcf3</string>
</dict>
</plist>